    footer {
        --section-max-width: 9999px;
        --spx-stopper-max: 9999px;
        --spx-stopper-min: 0px;
        --one-unit: 1cqw;
        --wst-button-color-fill-primary: rgb(var(--color_48));
        --wst-button-color-border-primary: rgb(var(--color_49));
        --wst-button-color-text-primary: rgb(var(--color_50));
        --wst-button-color-fill-primary-hover: rgb(var(--color_51));
        --wst-button-color-border-primary-hover: rgb(var(--color_52));
        --wst-button-color-text-primary-hover: rgb(var(--color_53));
        --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
        --wst-button-color-border-primary-disabled: rgb(var(--color_55));
        --wst-button-color-text-primary-disabled: rgb(var(--color_56));
        --wst-button-color-fill-secondary: rgb(var(--color_57));
        --wst-button-color-border-secondary: rgb(var(--color_58));
        --wst-button-color-text-secondary: rgb(var(--color_59));
        --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
        --wst-button-color-border-secondary-hover: rgb(var(--color_61));
        --wst-button-color-text-secondary-hover: rgb(var(--color_62));
        --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
        --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
        --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
        --wst-color-fill-base-1: rgb(var(--color_36));
        --wst-color-fill-base-2: rgb(var(--color_37));
        --wst-color-fill-base-shade-1: rgb(var(--color_38));
        --wst-color-fill-base-shade-2: rgb(var(--color_39));
        --wst-color-fill-base-shade-3: rgb(var(--color_40));
        --wst-color-fill-accent-1: rgb(var(--color_41));
        --wst-color-fill-accent-2: rgb(var(--color_42));
        --wst-color-fill-accent-3: rgb(var(--color_43));
        --wst-color-fill-accent-4: rgb(var(--color_44));
        --wst-color-fill-background-primary: rgb(var(--color_11));
        --wst-color-fill-background-secondary: rgb(var(--color_12));
        --wst-color-text-primary: rgb(var(--color_15));
        --wst-color-text-secondary: rgb(var(--color_14));
        --wst-color-action: rgb(var(--color_18));
        --wst-color-disabled: rgb(var(--color_39));
        --wst-color-title: rgb(var(--color_45));
        --wst-color-subtitle: rgb(var(--color_46));
        --wst-color-line: rgb(var(--color_47));
        --wst-font-style-h2: var(--font_2);
        --wst-font-style-h3: var(--font_3);
        --wst-font-style-h4: var(--font_4);
        --wst-font-style-h5: var(--font_5);
        --wst-font-style-h6: var(--font_6);
        --wst-font-style-body-large: var(--font_7);
        --wst-font-style-body-medium: var(--font_8);
        --wst-font-style-body-small: var(--font_9);
        --wst-font-style-body-x-small: var(--font_10);
        --wst-color-custom-1: rgb(var(--color_13));
        --wst-color-custom-2: rgb(var(--color_16));
        --wst-color-custom-3: rgb(var(--color_17));
        --wst-color-custom-4: rgb(var(--color_19));
        --wst-color-custom-5: rgb(var(--color_20));
        --wst-color-custom-6: rgb(var(--color_21));
        --wst-color-custom-7: rgb(var(--color_22));
        --wst-color-custom-8: rgb(var(--color_23));
        --wst-color-custom-9: rgb(var(--color_24));
        --wst-color-custom-10: rgb(var(--color_25));
        --wst-color-custom-11: rgb(var(--color_26));
        --wst-color-custom-12: rgb(var(--color_27));
        --wst-color-custom-13: rgb(var(--color_28));
        --wst-color-custom-14: rgb(var(--color_29));
        --wst-color-custom-15: rgb(var(--color_30));
        --wst-color-custom-16: rgb(var(--color_31));
        --wst-color-custom-17: rgb(var(--color_32));
        --wst-color-custom-18: rgb(var(--color_33));
        --wst-color-custom-19: rgb(var(--color_34));
        --wst-color-custom-20: rgb(var(--color_35));
        --color_0: 255,255,255;
        --color_1: 255,255,255;
        --color_2: 0,0,0;
        --color_3: 237,28,36;
        --color_4: 0,136,203;
        --color_5: 255,203,5;
        --color_6: 114,114,114;
        --color_7: 176,176,176;
        --color_8: 255,255,255;
        --color_9: 114,114,114;
        --color_10: 176,176,176;
        --color_11: 0,0,0;
        --color_12: 191,191,191;
        --color_13: 128,128,128;
        --color_14: 64,64,64;
        --color_15: 255,255,255;
        --color_16: 255,217,112;
        --color_17: 225,95,9;
        --color_18: 196,83,8;
        --color_19: 150,63,6;
        --color_20: 75,32,3;
        --color_21: 180,195,234;
        --color_22: 9,139,225;
        --color_23: 7,109,177;
        --color_24: 5,79,129;
        --color_25: 3,50,80;
        --color_26: 245,167,188;
        --color_27: 235,122,152;
        --color_28: 225,9,67;
        --color_29: 150,6,45;
        --color_30: 75,3,22;
        --color_31: 240,245,167;
        --color_32: 228,235,122;
        --color_33: 211,225,9;
        --color_34: 141,150,6;
        --color_35: 70,75,3;
        --color_36: 255,255,255;
        --color_37: 0,0,0;
        --color_38: 191,191,191;
        --color_39: 128,128,128;
        --color_40: 64,64,64;
        --color_41: 196,83,8;
        --color_42: 255,217,112;
        --color_43: 225,95,9;
        --color_44: 150,63,6;
        --color_45: 255,255,255;
        --color_46: 255,255,255;
        --color_47: 64,64,64;
        --color_48: 196,83,8;
        --color_49: 196,83,8;
        --color_50: 255,255,255;
        --color_51: 255,255,255;
        --color_52: 196,83,8;
        --color_53: 196,83,8;
        --color_54: 128,128,128;
        --color_55: 128,128,128;
        --color_56: 255,255,255;
        --color_57: 255,255,255;
        --color_58: 196,83,8;
        --color_59: 196,83,8;
        --color_60: 196,83,8;
        --color_61: 196,83,8;
        --color_62: 255,255,255;
        --color_63: 255,255,255;
        --color_64: 128,128,128;
        --color_65: 128,128,128;
        --font_0: normal normal normal 64px/1.4em adobe-caslon-w01-smbd,serif;
        --font_1: normal normal normal 16px/1.4em din-next-w01-light,sans-serif;
        --font_2: normal normal normal 40px/1.4em adobe-caslon-w01-smbd,serif;
        --font_3: normal normal normal 24px/1.4em adobe-caslon-w01-smbd,serif;
        --font_4: normal normal bold 20px/1.4em adobe-caslon-w01-smbd,serif;
        --font_5: normal normal normal 18px/1.4em adobe-caslon-w01-smbd,serif;
        --font_6: normal normal normal 14px/1.4em adobe-caslon-w01-smbd,serif;
        --font_7: normal normal normal 24px/1.4em helvetica-w01-light,sans-serif;
        --font_8: normal normal normal 16px/1.4em helvetica-w01-light,sans-serif;
        --font_9: normal normal normal 14px/1.4em helvetica-w01-light,sans-serif;
        --font_10: normal normal normal 12px/1.4em din-next-w01-light,sans-serif;
        --wix-ads-height: 50px;
        --sticky-offset: 50px;
        --wix-ads-top-height: 50px;
        --site-width: 980px;
        --above-all-z-index: 100000;
        --portals-z-index: 100001;
        --wix-opt-in-direction: ltr;
        -webkit-font-smoothing: antialiased;
        --minViewportSize: 320;
        --maxViewportSize: 1920;
        --theme-spx-ratio: 1px;
        --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
        --customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
        --scrollbar-width: 0px;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 10px;
        --pinned-layers-in-page: 0;
        --top-offset: var(--header-height);
        --header-height: 84px;
        background: transparent;
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        --pinned-layer-in-container: 52;
        --above-all-in-container: 49;
        --brd: var(--color_11);
        --brwt: 0px;
        --brwb: 0px;
        --shd: none;
        --rd: 0px 0px 0px 0px;
        --alpha-brd: 1;
        --backdrop-filter: none;
        --boxShadowToggleOn-shd: none;
        left: 0;
        margin-left: 0;
        width: 100%;
        min-width: 0;
        --bg-overlay-color: rgb(var(--color_37));
        --bg-gradient: none;
        grid-area: 4/1/5/2;
        position: relative;
}